<nav>
  <h2 style="font-family:'Cherry Cream soda', cursive;">Cloudy Mac</h2>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="Me"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2 style="font-family:'Cherry Cream soda', cursive;"><a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>
      A journey from Enterprise IT to the Cloud...
      12 factor apps, DevOps, and whole product concern.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  <div id="pages">
    <p>
    <a href="/pages/luminaries.html">luminaries</a>
    <br/>
    <a href="/pages/blogs.html">blogs</a>
    <br/>
    <a href="/pages/podcasts.html">podcasts</a>
    </p>
  </div>
</nav>
